Listen 127.0.0.1:80

<VirtualHost 127.0.0.1:80>

  ServerAdmin webmaster@example.org
  DocumentRoot /var/www/owncloud

  ErrorLog ${APACHE_LOG_DIR}/error.log
  LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" %D" combined_requesttime
  CustomLog ${APACHE_LOG_DIR}/access.log combined_requesttime

  <Directory /var/www/owncloud/>
    Options +FollowSymlinks
    AllowOverride All
  </Directory>

</VirtualHost>
