#!/bin/sh
### BEGIN INIT INFO
# Provides:          slave
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       slave
### END INIT INFO
. /usr/lib/oracle/xe/app/oracle/product/10.2.0/server/bin/oracle_env.sh

export PATH="/home/vagrant/.phpenv/bin:$PATH"
eval "$(phpenv init -)"

export SLAVE_NAME={{ ansible_hostname }}
export SLAVE_SECRET=123456
export RUNAS=jenkins

#start the slave
echo "Starting Jenkins slave $SLAVE_NAME"
local CMD="java -jar slave.jar -noCertificateCheck -jnlpUrl https://ci.owncloud.org/computer/$SLAVE_NAME/slave-agent.jnlp -secret $SLAVE_SECRET"
su -c "$CMD" $RUNAS

